version: "3.8"

services:
  web:
    build:
      context: .
      args:
        NEXT_PUBLIC_SUPABASE_URL: ${NEXT_PUBLIC_SUPABASE_URL}
        NEXT_PUBLIC_SUPABASE_ANON_KEY: ${NEXT_PUBLIC_SUPABASE_ANON_KEY}
    image: pdro-project:latest
    ports:
      - "3000:3000"
    env_file:
      - .env.production
    restart: unless-stopped
